#himoose-meta-box-container {
	padding: 10px 0;
}

#himoose-podcast-selector {
	margin-bottom: 10px;
	margin-top: 10px;
}

#himoose-podcast-select {
	box-sizing: border-box;
	max-width: 100%;
	width: 100%;
}

#himoose-spinner {
	float: none;
	margin-left: 5px;
}

.himoose-error {
	color: #d63638;
	display: none;
	margin-top: 10px;
}

#himoose-meta-box-container .description {
	margin-top: 10px;
}

.himoose-generate-link {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 10px;
}
